#
# ダブルスレッド掲示板用 .htaccess 設定
#
#                                                 2004.10.15 さゆりん先生
#
Options +ExecCGI -Indexes
AddHandler cgi-script .cgi
DirectoryIndex index.html

AddType "text/javascript; charset=utf-8" js
AddType "text/html; charset=utf-8" html

# アクセス制限の基本設定
Order allow,deny
Allow from all
#Require all granted

# プログラムと設定を隠蔽する
<Files ~ "\.(pl|conf|templete|json)$">
  deny from all
  #Require all denied
</Files>


# error.logをweb上で見るかどうかを設定
<Files "error.log">
  allow from all
  #Require all granted
</Files>

# UAにキャッシュを保存させない
<Files "^(bbs|admin).html$">
  <IfModule mod_headers>
    Header Set Pragma "no-cache"
    Header Set Cache-Control "no-cache"
  </IfModule>
</Files>

# 以下、必要に応じて掲示板設置者が設定をする

